*{
    box-sizing: border-box;
}
header{
    background-color: rgb(90, 90, 255);
    height: 180px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    position: relative;
}
.logo{
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}
h1{
    font-size: 60px;
    margin: 0%;    
}
.autore::after{
    content: "The Booleaner";
    color: rgb(90, 90, 255);
}
.info{
    color: grey;
}
figure{
    margin-left: 0;
}
ul{
    padding-left: 1%;
}
thead{
    background-color: rgb(59, 180, 255);
}
th{ 
    text-align: left;
}
.dati-azzurri{
    background-color: aqua;
} 
.dati-bianchi{
    background-color: white;
}
/* table{
    position: fixed;
    width: 100%;
}
tr:first-child{
    width: 25%;
}
tr:last-child{
    width: 50%;
} */
h3{
    color: white;
}
h4{
    color: gray;
}
.approfondimento{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.primo{
    background-image: url('../img/monitor.jpg');
}
.secondo{
    background-image: url('../img/graph.jpg');
}